params {
    input=false
    output_dir="./results/"
    help=false
    ihmt_num_threads=4
    bet_T1w=0.16
    filtering=false
    extended=false
}

process {
    publishDir = {"./results/$sid/$task.process"}
    scratch = true
    stageInMode = 'copy'
    stageOutMode = 'rsync'
    tag = { "$sid" }
    afterScript = 'sleep 1'
}

singularity.autoMounts = true